body{
    overflow-x: hidden;
}
#page1{
    background-image: url(../Media/banner.jpg);
    width:100vw;
    height:100vh;
    position: relative;
    bottom:10px;
    right:10px;
}
#back{
    width:100vw;
    height:100vh;
    background-color:rgb(78, 81, 92); 
    opacity:80%;
}
#projection{
    color: white;
    position: relative;
    bottom: 670px;
    left: 150px;
}
#nav1 li{
    display: inline-block;
    position: relative;
    bottom:725px;
    left:1100px;
    color: white;
    margin:15px;
}
#nav1 hr{
    border: 0.5px solid grey;
    position: relative;
    bottom:700px;
    width:1230px;
}
#welcome{
    font-size:55px;
    color:white;
    position: relative;
    bottom: 670px;
    left:510px;
}
#icons1 {
    position: relative;
    bottom:820px;
    left:150px;
}
#icons1 i{
    margin:178px;
}
#words1{
    color: white;
    position: relative;
    bottom:1150px;
    left:130px;
    font-size: x-large;
}
#words1 li{
    display: inline-block;
    margin:145px;
}
#def{
    color: rgb(175, 167, 167);
    position: relative;
    bottom:1390px;
    left:130px;
    font-size:large;
}
#def li{
    display: inline-block;
    margin:95px;
}
#line1{
  border-left: 2px solid grey;
  height: 130px;
  position: absolute;
  left: 550px;
  margin-left: -3px;
  top: 370px;
}
#line2{
   border-left: 2px solid grey;
   height: 130px;
   position: absolute;
   left: 950px;
   margin-left: -3px;
   top: 370px;
}
#get button{
    width:180px;
    height:40px;
    background-color:transparent;
    border-radius:25px;
    border:3px solid rgb(66, 192, 144);
    position: relative;
    bottom:1450px;
    left:660px;
    color:rgb(7, 218, 165);
    font-size:x-small;
    cursor: pointer;
}
#get button:hover{
    background-color:rgb(91, 112, 107);
}
#page2{
    background-color:white;
    width:100vw;
    height:85vh;
}
#images{
    position: relative;
    left:120px;
    bottom:150px;
   
}
#images img{
    border-radius:50%;
    margin:220px;
}
#left{
    position: relative;
    bottom:340px;
    left:300px;
}
#left button{
    width:180px;
    height:40px;
    background-color:transparent;
    border-radius:25px;
    border:3px solid rgb(7, 218, 165);
    position: relative;
    left:50px;
    top:32px;
    color:rgb(66, 192, 144);
    font-size:x-small;
    cursor: pointer;
}
#left button:hover{
    background-color:rgb(191, 230, 222);
}
#right{
    position: relative;
    bottom:565px;
    left:900px;
}
#right button{
    width:180px;
    height:40px;
    background-color:transparent;
    border-radius:25px;
    border:3px solid rgb(7, 218, 165);
    position: relative;
    top:35px;
    left:60px;
    color:rgb(66, 192, 144);
    font-size:x-small;
    cursor: pointer;
}
#right button:hover{
    background-color:rgb(191, 230, 222);
}
.head1{
    color:rgb(75, 73, 73);
    font-size: x-large;
    position: relative;
    text-align:center;
    right:650px;
    bottom:20px;
}
.mean1{
    color:grey;
    font-size:large;
    position: relative;
    text-align:center;
    right:630px;   
}
#page3{
    background-color:rgb(66, 192, 144);
    width:100vw;
    height:100vh;
    position: relative;     
    right:10px;
    top:10px;
}
#page3 p{
    position: relative;
    text-align: center;
    color: white;
    top:50px;
    font-size:30px;
}
.name{
    color:white;
    font-size: large;
    position: relative;
    left:250px;
    top:50px;
}
.input1{
    background-color: transparent;
    border:1px solid grey;
    color:grey;
    border-radius: 24px;
    width:500px;
    height:40px;
    position: relative;
    top:100px;
    left:200px;
}
.input1::placeholder{
    position: relative;
    left:10px;
}
.mail{
    color:white;
    font-size: large;
    position: relative;
    left:305px;
    top:50px;
}
.input2{
    background-color: transparent;
    border:1px solid grey;
    color:grey;
    border-radius: 24px;
    width:500px;
    height:40px;
    position: relative;
    top:100px;
    left:250px;
}
.input2::placeholder{
    position: relative;
    left:10px;
}
.message{
    color:white;
    font-size: large;
    position: relative;
    right:865px;
    top:180px;
}
.input3{
    background-color: transparent;
    border:1px solid grey;
    color:grey;
    border-radius: 24px;
    width:1100px;
    height:140px;
    position: relative;
    top:200px;
    left:240px;
    overflow: hidden;
}
.input3::placeholder{
    position: relative;
    left:10px;
    top:10px;
}
.submit{
    width:180px;
    height:40px;
    background-color:transparent;
    border-radius:25px;
    border:3px solid white;
    position: relative;
    top:350px;
    right:430px;
    color:white;
    font-size:small;
    cursor: pointer;
}
.submit:hover{
    background-color:rgb(88, 207, 183);
}
.down1 {
    position: relative;
    top:300px;
}
.down1 a{
    text-decoration:none;
    color:white;
}
.nav2{
    width:100vw;
    height:50px;
    background-color:rgb(66, 192, 144);
    position: fixed;
    right:0px;
    top:0px;
    z-index:100;
}
.nav2 li{
    color:white;
    display: inline-block;
    position: relative;
    left:1080px;
    margin:15px;
    bottom:50px;
}
.projection2{
    color:white;
    position: relative;
    bottom:0px;
    left:100px;
}
#top1 p{
    color:black;
    position: relative;
    text-align: center;
    top:100px;
    font-size:40px;
    font-weight:100;
    z-index:1;
}
#top2 p{
    color:rgb(156, 156, 156);
    position: relative;
    text-align: center;
    top:70px;
    z-index:1;
}
#image1{
    position: relative;
    left:150px;
    top:120px;
    z-index:1;
}
#image1 img{
    border-radius:50%;
    z-index:1;
}
#par1{
    position: relative;
    left:330px;
    bottom:45px;
    z-index:1;
}
#par1 p{
    color:rgb(156, 156, 156);
    font-size:large;
    line-height:25px;
    z-index:1;
}
#par2{
    position: relative;
    left:155px;
    bottom:170px;
    z-index:1;
}
#par2 p{
    color:rgb(156, 156, 156);
    font-size:large;
    line-height:25px;
    z-index:1;
}
#image2{
    position: relative;
    left:1270px;
    top:10px;
    z-index:1;
}
#image2 img{
    border-radius:50%;
    z-index:1;
}
#par3{
    position: relative;
    left:155px;
    bottom:125px;
    z-index:1;
}
#par3 p{
    color:rgb(156, 156, 156);
    font-size:large;
    line-height:25px;
    z-index:1;
}
#page5{
    background-color:rgb(66, 192, 144);
    width:100vw;
    height:100vh;
    position: relative;     
    right:10px;
    top:10px;
}
#page5 p{
    position: relative;
    text-align: center;
    color: white;
    top:50px;
    font-size:30px;
}
#top3 p{
    color:black;
    position: relative;
    text-align: center;
    top:100px;
    font-size:40px;
    font-weight:100;
}
#top4 p{
    color:rgb(156, 156, 156);
    position: relative;
    text-align: center;
    top:70px; 
}
#base p{
    color:black;
    position: relative;
    font-size:30px;
    top:100px;
    left:150px;
}
#both{
    color: black;
    position: relative;
    font-size:30px;
    bottom:40px;
    left:650px;
}
#both li{
    display: inline-block;
    margin:80px;
}
#pars p{
    color:grey;
    position: relative;
    left:150px;
    bottom:120px;
    line-height:30px;
}
#pars p b{
    color:black;
}
#pars a{
    text-decoration: underline;
    color:rgb(66, 192, 144);
}
#pars #two{
    position: relative;
    left:770px;
    bottom:255px;
}
#pars #three{
    position:relative;
    left:1080px;
    bottom:418px;
}
#hr-one{
    position: relative;
    bottom:350px;
    color:grey;
    width:1200px;
}
#sample{
    color:rgb(82, 72, 72);
    font-size:30px;
    position: relative;
    bottom:320px;
    left:150px;

}
#sampledef{
    color:grey;
    font-size:large;
    position: relative;
    bottom:310px;
    left:150px;
    line-height:30px;
}
#head1{
    color:rgb(82, 72, 72);
    font-size:30px;
    position: relative;
    bottom:450px;
    right:70px;
}
#head1 li{
    display: inline-block;
    margin:180px;
}
#head1def{
    color:grey;
    font-size:17px;
    position: relative;
    bottom:660px;
    left:85px;
    line-height:25px;
}
#head1def li{
    display: inline-block;
    margin:28px;
}
#head2{
    color:rgb(82, 72, 72);
    font-size:30px;
    position: relative;
    bottom:740px;
    left:54px;
}
#head2 li{
    display: inline-block;
    margin:60px;
}
#head2def{
    color:grey;
    font-size:17px;
    position: relative;
    bottom:820px;
    left:90px;
}
#head2def li{
    display: inline-block;
    margin:23px;
}
#hr-two{
    position: relative;
    bottom:780px;
    color:grey;
    width:1200px;
}